@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica Light'), local('Helvetica-Light'),
    url('../font/Helvetica-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica Regular'), local('Helvetica-Regular'),
    url('../font/Helvetica-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica Medium'), local('Helvetica-Medium'),
    url('../font/Helvetica-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica SemiBold'), local('Helvetica-SemiBold'),
    url('../font/Helvetica-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Sans';
  src: local('Helvetica Bold'), local('Helvetica-Bold'),
    url('../font/Helvetica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish Light'), local('Mulish-Light'),
    url('../font/Mulish-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish Regular'), local('Mulish-Regular'),
    url('../font/Mulish-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish Medium'), local('Mulish-Medium'),
    url('../font/Mulish-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish SemiBold'), local('Mulish-SemiBold'),
    url('../font/Mulish-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish Bold'), local('Mulish-Bold'),
    url('../font/Mulish-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  /* font-family: 'Public Sans', sans-serif; */
}

main::-webkit-scrollbar {
  display: none !important;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
main {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important;
}

::-webkit-scrollbar {
  display: none !important;
}

h2 {
  font-size: 20px;
}
